
<%= link_to "Chatroom", root_path, class: "item" %>
<a class="item">
Messages
</a>
<a class="item">
Friends
</a>

<div class="ui item inline dropdown">
    <input type="hidden" name="account">
    <i class="dropdown icon"></i>
    <div class="default text">Account</div>
        <div class="menu">
            <div class="item" data-value="male">Logout</div>
            <%= link_to "Log In", login_path, class: "item" %>
            <div class="item" data-value="female">Sign Up</div>
        </div>
    </div>

</div>