
<a class="active item">
Chatroom
</a>
<a class="item">
Messages
</a>
<a class="item">
Friends
</a>

<div class="ui item inline dropdown">
<input type="hidden" name="gender">
<i class="dropdown icon"></i>
    <div class="default text">Account</div>
        <div class="menu">
        <div class="item" data-value="male">Logout</div>
        <div class="item" data-value="female">Login</div>
        <div class="item" data-value="female">Sign Up</div>
        </div>
    </div>

</div>